<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	colors="true">
	<testsuites>
		<testsuite name="User Import">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
